<div style="text-align:center">
  <nav>
      <button class="btn btn-dark">
          <a routerLink="/home">HOME</a>
      </button>
      <button class="btn btn-dark">
            <a routerLink="/c2">DASHBOARD</a>
      </button>
      <button class="btn btn-dark">
        <a routerLink="/on">ONBOARDING</a>
    </button>
      <button class="btn btn-dark">
        <a routerLink="/c1">LOCATION</a>
    </button>
      <button class="btn btn-dark">
        <a routerLink="/re">REACTIVE FORM</a>
    </button>
    <button class="btn btn-dark">
          <a routerLink="/pe">TEMPLATE FORM</a>
    </button>
    <button class="btn btn-dark">
        <a routerLink="/fb">FORM BUILDER</a>
    </button>

  </nav>
</div>
<router-outlet></router-outlet>


