<div class="main">
    <div class="headers">
        <h2>This Page Has a Template Form</h2>
        <h5>The Response Is Logged In The Console</h5>
    </div>
    <div class="container main_inner">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        
                <label>
                First Name:
                <input type="text" formControlName="firstName">
                </label>
            
                <label>
                Last Name:
                <input type="text" formControlName="lastName">
                </label>
                <button class="btn btn-dark" type="submit">Submit</button>
        </form>

    </div>
</div>