
.main{
    background-image: url(https://images.pexels.com/photos/929824/pexels-photo-929824.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    height: 100vh;
    width: 100vw;
    color: greenyellow;
    position: absolute;
    font-size: small;
}

.main_inner{
    position: relative;
    top: 25%;
    left: 30vw;
}

.submission{
    margin: 0px !important;
}

p{
    color: white;
}

input{
    color: black;
}

h2{
    text-align: center;
    position: relative;
    top: 20vh;
}
