@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

nav{
    background-color: black;
    width: 100vw;
}

a{
    color: rgb(52, 58, 64) !important;
    text-decoration: none !important;
}

a:hover{
    color: greenyellow !important;
}

button{
    margin-left: 70px !important;
    border-color: greenyellow !important;
}

