<div class="main">

    <div class="container main_inner">
        <h1>User Form</h1>
        
        <form (ngSubmit)="onSubmit()" #Onboarding="ngForm">
            <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="guy.name" name="name">
            <!--{{guy.name}}-->
            </div>
            
            <button type="submit" class="btn btn-dark submission" (click)="addToList()">Add Name</button>
        </form>
        <br>
        <h2>Other Users On Record</h2>         
        <table class="table table-dark">
        <thead>
            <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Telephone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>{{list[0].name}} </td>
            <td>{{list[0].address}}</td>
            <td>{{list[0].phone}}</td>
            </tr>
            <tr>
            <td>{{list[1].name}} </td>
            <td>{{list[1].address}}</td>
            <td>{{list[1].phone}}</td>
            </tr>
            <tr>
            <td>{{list[2].name}} </td>
            <td>{{list[2].address}}</td>
            <td>{{list[2].phone}}</td>
            </tr>
            <tr>
            <td>{{list[3].name}} </td>
            <td>{{list[3].address}}</td>
            <td>{{list[3].phone}}</td>
            </tr>
            <tr>
            <td>{{list[4].name}} </td>
            <td>{{list[4].address}}</td>
            <td>{{list[4].phone}}</td>
            </tr>
            <tr>
            <td>{{list[5].name}} </td>
            <td>{{list[5].address}}</td>
            <td>{{list[5].phone}}</td>
            </tr>
            <tr>
            <td>{{list[6].name}} </td>
            <td>{{list[6].address}}</td>
            <td>{{list[6].phone}}</td>
            </tr>
            <tr>
            <td>{{list[7].name}} </td>
            <td>{{list[7].address}}</td>
            <td>{{list[7].phone}}</td>
            </tr>
            <tr>
            <td>{{list[8].name}} </td>
            <td>{{list[8].address}}</td>
            <td>{{list[8].phone}}</td>
            </tr>
            <tr>
            <td>{{list[9].name}} </td>
            <td>{{list[9].address}}</td>
            <td>{{list[9].phone}}</td>
            </tr>
        </tbody>
        </table>
</div>


</div>
<router-outlet></router-outlet>
